<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>PUBLISHER</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.getId()}">100</td>
            <td th:text="${book.getTitle()}">Green Earth</td>
            <td th:text="${book.getPublisher().getPublisherName()}" :>Mich & Kay</td>
        </tr>
    </table>
</body>
</html>